*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black !important;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif !important;
}

section.hero-wrapper{
    background-color: white;
}

.footer{
    bottom: 0;
    width: 98vw;
    height: 20vh;
}

.footer .copyright{
    padding-top: 50px;
    padding-left: 90px;
    width: 75%;
}

.footer .social-media{  
    padding-top: 50px;
    padding-left: 90px;
}

header.hero-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

nav ul li{
    display: inline;
    margin: 20px;
}

a{
    text-decoration: none !important;
    color: black !important;
    font-size: light !important;
}

header.hero-header h3{
    font-weight: bold;
    font-size: 24px;
}

.hero-header h3 p{
    font-weight: lighter;
    font-size: 12px;
    color: darkgray;
}

.hero-header h1{
    font-weight: bold;
}

.profile-wrapper{
    width: 98vw;
    height: 100vh;
}

.personal-wrapper{
    height: 80vh;
    padding-top: 20px;
    padding-left: 90px;
}

.profile-wrapper .description{
    width: 90%;
    justify-content: center;
}

.description p{
    padding-left: 90px;
    padding-top: 60px;
    padding-right: 280px;
    color: black;
    text-size-adjust: 11px;
    justify-content: center;
}

.profile-wrapper .image{
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.image img{
    width: 26vw;
    height: 38vw;
}
  
@media (max-width: 760px){
    .left {
      display: none;
    }
}